
  .friendlyMessage {
    font-style: normal;
    font-weight: normal;
    width:100%;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    padding: 8px 5px;
    background: rgb(225,231,238);
    color: #333333;
  }