.claimsTable {
    border-collapse: collapse;
    
    font-size: 0.9em;
    min-width: 350px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.claimsCard{
    background:#ffffff;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    margin-top: 1rem;
}

.claimsContainer{
    width: 100%;
    padding: 30px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -1rem;
    height: 190px;
    flex-wrap: wrap;
    
}

.claimsLi{
    display: flex;
}

@media screen and (max-width: 600px) {
    .claimsCard{
        background:#ffffff;
        border: 1px solid rgba(0,0,0,.125);
        box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    }

    .claimsContainer{
        width: 100%;
        padding: 30px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: auto;
        height: auto;
        flex-wrap: nowrap;
    }
    
}