
  .resultsPage {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 62, 126, 0.1);
    max-width: 65%;
    margin: auto;
    padding:1em;
  }
  .resultHeadPage {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #003e7d;
  }
  .resultContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8%;
    grid-row-gap: 10px;
    justify-content: center;
    justify-items: center;
  }

  

/* email input box */
  .emailInput1{
    width: 18rem;
    height: 2.3rem !important;
    border: 1.4px solid #8f959b;
    box-sizing: border-box;
    padding-left: 1em;
    color: #003e7d;
    border-radius: 0 !important;
    margin-top: -1.2rem;
    margin-bottom: 3rem;
  }
  /* get my results button */
  .emailResultsButton1 {
    width: 16%;
    height: 2.3rem;
    cursor: pointer;
    border: 1.5px solid rgb(48, 47, 47);
    border-radius: 25px;
    font-size: 0.8rem ;
    font-weight: bold;
    background-color: #003e7d;
    color: white;
    margin-left: 0.5rem;  
    margin-top: -1.2rem;
    margin-bottom: 3rem;
  }

  /* Submitted button */
  .submittedButton1{
    width: 16%;
    height: 2.3rem;
    cursor: pointer;
    border-radius: 25px;
    font-size: 0.8rem ;
    font-weight: bold;
    background-color: #003e7d;
    color: white;
    margin-top: -1.2rem;
    margin-bottom: 3rem;
  }
/* Disclaimer */
  .checkBoxLabel {
    font-style: normal;
    font-weight: bold;
    font-size: xx-small !important;
    line-height: 0.7rem;
    color: black;
    margin-left: 0rem;
    width: 90%;
  }
/* Save your results */
  .upperEmailText
  {
    font-size: 1.35rem;
    font-weight: bolder;
    color: black;
    letter-spacing: 0.5px;
    margin-top: 2.5rem;
  }
/* just enter your..... */
  .lowerEmailText
  {
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    letter-spacing: 0.5px;
    margin-top: -0.1rem;
  }
  
  .card2subText
  {
      font-size: 0.8rem !important;
      font-weight: 500;
      text-align: left;
  }
  .emailResultsLinks {
    color: #9a9a9a;
    text-decoration: underline;
  }
  
  .emailResultsLinks:hover {
    color: #01a0e0;
  }
  .resultPageText {
    color: #003e7d;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
  }
  
  .emailContent {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    position: relative;
  }
  
  
  
  .emailResultsButton:disabled {
    background:#003e7d;
    color:white ;
  }
  
  /* .formIFrame {
    border: none;
    margin: 0;
    height: 250px;
    width: 100%;
  } */
  /* .emailButton2
  {
      width: 20% !important;
  } */
  /* .formIFrame.submitted {
    opacity: 0;
    height: 0;
  } */
  
  .email-error {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    color: #9a9a9a;
  }
  
  .messageText {
    color: red;
  }
  .btnRestartQuiz {
    color: #9a9a9a;
    background-color: #ffffff;
    font-size: 12px;
  }
  
  @media only screen and (max-width:1025px) and  (min-width:769px)
  {
    .emailInput1
    {
      width: 18rem;
    }
    .emailResultsButton1{
      width: 15%;
    }
      
  }
  
  @media only screen and (max-width:769px)
  {
    .emailInput1
    {
      width: 20rem;
    }
    .emailResultsButton1{
      width: 20%;
    }
  }
  @media only screen and (max-width:426px)
  {
    .emailInput1
    {
      width: 15rem ;
    }
    .emailResultsButton1{
      width: 30%;
    }
    .submittedButton1{
      width: 30%;
      height: 2.3rem;
      cursor: pointer;
      border-radius: 25px;
      font-size: 0.8rem ;
      font-weight: bold;
      background-color: #003e7d;
      color: white;
      margin-top: -1.2rem;
      margin-bottom: 3rem;
    }
  }
  @media only screen and (max-width:376px)
  {
    .emailInput1
    {
      width: 12rem !important;
    }
    .emailResultsButton1{
      width: 40%;
    }
    .submittedButton1{
      width: 40%;
      height: 2.3rem;
      cursor: pointer;
      border-radius: 25px;
      font-size: 0.8rem ;
      font-weight: bold;
      background-color: #003e7d;
      color: white;
      margin-top: -1.2rem;
      margin-bottom: 3rem;
    }
  }

  @media only screen and (max-width:321px)
  {
    .emailInput1
    {
      width: 10rem !important;
    }
    .emailResultsButton1{
      width: 40%;
      font-size: x-small;
    }
    .submittedButton1{
      width: 40%;
      height: 2.3rem;
      cursor: pointer;
      border-radius: 25px;
      font-size: 0.8rem ;
      font-weight: bold;
      background-color: #003e7d;
      color: white;
      margin-top: -1.2rem;
      margin-bottom: 3rem;
    }
  }
  