.resultsPage {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 62, 126, 0.1);
  max-width: 65%;
  margin: auto;
  padding:1em;
}
.resultHeadPage {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #003e7d;
}
.resultContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8%;
  grid-row-gap: 10px;
  justify-content: center;
  justify-items: center;
}
.emailButton {
  background: #003e7d;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border: 1px solid #003e7d;
  box-sizing: border-box;
  border-radius: 2px;
}
.emailInput {
  width: 389px;
  height: 44px;
  border: 1px solid #003e7d;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 1em;
  color: #003e7d;
}
.checkBox {
  width: 18px;
  height: 18px;
  background:white;
  border-color: black;
}
.checkBoxLabel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9a9a9a;
}
.emailResultsLinks {
  color: #9a9a9a;
  text-decoration: underline;
}

.emailResultsLinks:hover {
  color: #01a0e0;
}
.resultPageText {
  color: #003e7d;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.emailContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form-check {
  max-width: 398px;
}

.emailResultsButton {
  width: 175px;
  height: 50px;
  cursor: pointer;
  background: #003e7d;
  border-radius: 26px;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: white;
  border-width: 0 !important;
  outline: 0px !important;
}

.emailResultsButton:disabled {
  background: #f2f2f2;
  color: #333333;
}

.formIFrame {
  border: none;
  margin: 0;
  height: 250px;
  width: 100%;
}

/* .formIFrame.submitted {
  opacity: 0;
  height: 0;
} */

.email-error {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  color: #9a9a9a;
}

.messageText {
  color: red;
}
.btnRestartQuiz {
  color: #9a9a9a;
  background-color: #ffffff;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .emailContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .emailInput {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 12px;
  }

  .emailResultsButton {
    width: 140px;
    height: 40px;
    cursor: pointer;
    background: #003e7d;
    border-radius: 26px;
    font-style: normal;
    font-size: 12px;
    color: white;
    border-width: 0 !important;
  }

  .resultHeadPage {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #003e7d;
  }

  .resultPageText {
    color: #003e7d;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    width: 98vw;
  }

  .checkBoxLabel {
    font-size: 12px;
  }
  .form-check {
    width: 90%;
  }

  .resultsPage {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background: rgba(0, 62, 126, 0.1);
    max-width: 90vw;
    margin: auto;
    padding:1em;
  }
}