.resultsPage {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 62, 126, 0.1);
  max-width: 65%;
  margin: auto;
  padding: 1em;
}
.resultHeadPage {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #003e7d;
}
.resultContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8%;
  grid-row-gap: 10px;
  justify-content: center;
  justify-items: center;
}

/* message icon */
.emailIcon {
  position: absolute;
  top: 0.6rem;
  /* left: 3rem; */
  left: 0;
  margin-top: -1rem;
  /* margin-left: 1.35rem; */
  
}
/* Submitted button */
.submittedButton {
    width: 12rem;
    height: 2.3rem;
    cursor: pointer;
    border-radius: 25px;
    font-size: 0.8rem ;
    font-weight: bold;
    background-color: #003e7d;
    color: white;
    margin-top: -1.2rem;
    margin-bottom: 3rem;
}
/* email input box */
.emailInput {
  width: 18rem;
  height: 2.4rem;
  border: 1.5px solid #4fa0f1;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 1em;
  color: #003e7d;
}
/* get my results */
.emailResultsButton {
  width: 50% !important ;
  height: 2rem;
  cursor: pointer;
  background: #003e7d;
  border-radius: 26px;
  font-size: 0.8rem !important;
  color: white;
  /* margin-left: 2rem; */
}
/* Disclaimer */
.checkBoxLabel {
  font-style: normal;
  font-size: xx-small !important;
  line-height: 0.7rem;
  color: black;
  width: 90%;
  text-align: justify;
  word-spacing: 1px;
}
/* 
.checkBox {
  width: 18px;
  height: 18px;
  background: white;
  border-color: black;
} */

.card2subText {
  font-size: 0.8rem !important;
  font-weight: 500;
  text-align: left;
  margin-top: -0.9rem;
}
.emailResultsLinks {
  color: #9a9a9a;
  text-decoration: underline;
}

.emailResultsLinks:hover {
  color: #01a0e0;
}
.resultPageText {
  color: #003e7d;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.emailContent {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  position: relative;
}
/* .form-check {
  max-width: 398px;
} */

.terms {
  width: 18rem;
}


.emailResultsButton:disabled {
  background: #003e7d;
  color: white;
}

.formIFrame {
  border: none;
  margin: 0;
  height: 250px;
  width: 100%;
}

.formIFrame.submitted {
  opacity: 0;
  height: 0;
}

.email-error {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  color: #9a9a9a;
}

.messageText {
  color: red;
}
.btnRestartQuiz {
  color: #9a9a9a;
  background-color: #ffffff;
  font-size: 12px;
}
.emailInput2 {
  width: 25rem;
  padding: 10px;
}

@media only screen and (max-width: 1026px) and (min-width: 768px) {
  
  .emailInput {
    width: 14rem;
    height: 1.8rem;
    margin-left: 2rem !important;
  }
  .emailIcon {
    height: 15px;
    width: 15px;
    margin-left: 0rem;

  }
  .emailResultsButton {
    width: 45% !important;
    height: 1.6rem;
    font-size: 0.7rem !important;
    margin-top: 1rem !important;
  }
  .terms {
    width: 15rem;
    margin-left: 2rem !important;
    font-size: xx-small;
  }
}

@media only screen and (max-width: 769px) {

  .terms {
    width: 24rem;
  }
  .emailInput
  {
    width: 25rem;
    height: 2.6rem;
  }
  .card2subText {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-top: -1rem;
    margin-left: 2rem !important;

  }
  .emailResultsButton 
  {
    color: white;
    border: 2px solid #003e7d;
    background-color: #003e7d;
    height: 2.3rem;
    width: 18rem !important;
  }
  .upperEmailText
  {
    font-size: 1rem;
    font-weight: bolder;
    color: black;
    letter-spacing: 0.5px;
    margin-top: 2.5rem;
    margin-bottom: -0.5rem;
  }
  .checkBoxLabel
  {
    margin-bottom: 1rem;

  }
  
}

@media only screen and (max-width: 426px) {
  .terms {
    width: 18rem;
  }
  .emailInput{
    width: 17rem;
    height: 2rem;
  }
  .card2subText {
    font-size: 0.9rem;
    font-weight: 500;
    text-align: left;
    margin-top: -1rem;
    margin-left: 0.5rem !important;
  }
  .emailResultsButton 
  {
    color: white;
    border: 2px solid #003e7d;
    background-color: #003e7d;
    height: 2rem;
    width: 13rem !important;
  }
  .upperEmailText
  {
    font-size: 1rem !important;
    font-weight: bolder;
    color: black;
    letter-spacing: 0.5px;
    margin-top: 2.5rem;
    margin-bottom: -0.5rem;
  }
  .checkBoxLabel
  {
    margin-bottom: 2rem;
  }

}
@media only screen and (max-width: 376px) {
  .terms{
    margin-top: 0rem;
    width: 18rem;
  }
  .emailInput {
    width: 17rem;
    height:1.8rem
  }
  .card2subText {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-top: -1rem;
  }
  .emailResultsButton 
  {
    color: white;
    border: 2px solid #003e7d;
    background-color: #003e7d;
    height: 2rem;
  }
  .upperEmailText
  {
    font-size: 0.9rem !important;
    font-weight: bolder;
    color: black;
    /* letter-spacing: 0.5px; */
    margin-top: 2.5rem;
    margin-bottom: -0.5rem;
  }
  .checkBoxLabel
  {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 321px) {

  .terms{
    margin-top: -1rem;
    width: 16rem;
  }
  .emailInput {
    width: 15rem;
    height:1.7rem
  }
  .card2subText {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-top: -1rem;
  }
  .emailResultsButton 
  {
    color: white;
    border: 2px solid #003e7d;
    background-color: #003e7d;
    height: 1.8rem;
    width: 10rem !important
  }
  .upperEmailText
  {
    font-size: 0.8rem !important;
    font-weight: bolder;
    color: black;
    letter-spacing: 0.5px;
    margin-top: 2.5rem;
    margin-bottom: -0.5rem;
  }
  .checkBoxLabel {
    font-style: normal;
    font-size: xx-small !important;
    line-height: 0.7rem;
    color: black;
    width: 90%;
    text-align: justify;
    margin-bottom: 1rem;
    margin-top: 2rem !important;
    /* word-spacing: 1px; */
  }
  
}
