.resultsPage {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background: rgba(0, 62, 126, 0.1);
  max-width: 65%;
  margin: auto;
  padding: 1em;
}

.emailIcon {
  position: absolute;
  top: 0.6rem;
  /* left: 3rem; */
  left: 0;
  margin-left: -0.35rem;
}
.resultHeadPage {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #003e7d;
}
.resultContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8%;
  grid-row-gap: 10px;
  justify-content: center;
  justify-items: center;
}
.emailButton {
  background: #003e7d;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border: 1px solid #003e7d;
  box-sizing: border-box;
  border-radius: 2px;
}
.emailInput {
  width: 15rem;
  height: 2.4rem;
  border: 1.5px solid #4fa0f1;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 1em;
  color: #003e7d;
}
.checkBox {
  width: 18px;
  height: 18px;
  background: white;
  border-color: black;
}
.checkBoxLabel {
  font-style: normal;
  /* font-weight: bold; */
  font-size: xx-small !important;
  line-height: 0.7rem;
  color: black;
  margin-left: 0rem;
  width: 90%;
  text-align: justify;
  word-spacing: 1px;
}

.card2subText {
  font-size: 0.8rem !important;
  font-weight: 500;
  text-align: left;
}
.emailResultsLinks {
  color: #9a9a9a;
  text-decoration: underline;
}

.emailResultsLinks:hover {
  color: #01a0e0;
}
.resultPageText {
  color: #003e7d;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.emailContent {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  position: relative;
}
/* .form-check {
  max-width: 398px;
} */

.terms {
  width: 15rem;
}

.emailResultsButton {
  width: 60% !important ;
  height: 2.3rem;
  cursor: pointer;
  background: #003e7d;
  border-radius: 26px;
  font-size: 0.8rem !important;
  color: white;
  /* margin-left: 2rem; */
}

.emailResultsButton:disabled {
  background: #003e7d;
  color: white;
}

.formIFrame {
  border: none;
  margin: 0;
  height: 250px;
  width: 100%;
}

/* .formIFrame.submitted {
  opacity: 0;
  height: 0;
} */

.email-error {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  color: #9a9a9a;
}

.messageText {
  color: red;
}
.btnRestartQuiz {
  color: #9a9a9a;
  background-color: #ffffff;
  font-size: 12px;
}
.emailInput2 {
  width: 25rem;
  padding: 10px;
}

@media only screen and (max-width: 1026px) and (min-width: 768px) {
  /* .emailIcon
  {
    height:30px;
    width:30px;
  } */
  .emailInput {
    width: 10rem;
    height: 1.8rem;
  }
  .emailIcon {
    height: 20px;
    width: 20px;
  }
  .emailResultsButton {
    width: 50% !important;
    height: 1.8rem;
  }
  .terms {
    width: 10rem;
    font-size: xx-small;
  }
}

@media only screen and (max-width: 769px) {

  .terms {
    width: 25rem;
  }
  .emailResultsButton {
    background: white !important;
    border: 2px solid #003e7d;
    color: #003e7d !important;
    height: 2.5rem;
  }

}


@media only screen and (max-width: 426px) {

  .emailInput2 {
    width: 18rem;
  }
  .terms {
    width: 18rem;
  }

}

@media only screen and (max-width: 321px) {

  .emailInput2 {
    margin-top: -1.5rem;
  }
  .terms{
    margin-top: -1rem;
  }


}
