@font-face{
    font-family:Arial MT W04 Regular;
    font-display:swap;
    src:url("/fonts/e37e5a82-2eec-4d9c-8627-52ace8acc340.woff2") format("woff2")
}
@font-face{font-family:Arial MT W04 Bold;
    font-display:swap;
    src:url("/fonts/8687927b-2586-4261-b723-ebaead0c3034.woff2") format("woff2")
}
@font-face{font-family:Arial MT W03 Black;
    font-display:swap;
    src:url("/fonts/d1d28160-b956-42a3-a2ff-d45b94b4c507.woff2") format("woff2")
}

 .font-ArialRegular   {
    font-family: "Arial MT W04 Regular";
}

.font-AriaBold {
    font-family: "Arial MT W04 Bold";
}

.font-AriaBlack {
    font-family: "Arial MT W04 Bold";
}

html,
body {
    padding: 0;
    margin: 0;
    font-family:Arial MT W04 Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Arial, sans-serif;
    background-color: #ffffff;
    scroll-behavior: smooth;
    color: #333333;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    /* don't do background-color here - that asterisk means it applies to any element */
    /* background-color: #ffffff;  */
}

