@font-face {
    font-family: Arial;
    src: url('/fonts/Arial.woff');
}
.header-main
{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* height: 15vh !important; */
}
.nav-content
{
    width: 88vw;
    color: #3767BA;
}
.headerLogo
{
    width:4.5rem;
    height:4.5rem;
    cursor: pointer;  
      
}
.navbar
{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.nav-text-style
{
    color : #003E7E !important;
    font-family: Arial Rounded MT;
    font-style: normal;
    font-weight:bold;
    font-size: 1rem;
}
.nav-header-style
{
    font-family: Arial Rounded MT;
    font-weight: bolder;
    font-style: normal;
    color:#003E7E;
    font-size: 1.8rem;   
}
.card-style
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 10px;
}
.card-col1
{
    background: #003E7E;
    font-size: 0.9rem;
    text-align: justify;
    font-weight: 400;
    font-family: Arial;
    padding-left: 3%;
    padding-right: 3%;
    
}
.card-col2
{
    background: rgba(254, 209, 3, 0.9);
    font-size: 0.9rem;
    text-align: justify;
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding-left: 3%;
    padding-right: 3%;  
    ;
}
.card-col3
{
    background: #003E7E;
    font-size: 0.9rem;
    text-align: justify;
    font-family: Arial;
    font-weight: 400;
    padding-left: 3%;
    padding-right: 3%; 
}
.card-button
{
    margin-bottom: 10px;
    margin-left: 20px;   
}
.start-button
{
    color: #FFFFFF;
    background-color:  #006FBA;
    border-color:  #006FBA;
    font-size: 1.2rem !important;
    height: 3.2rem !important;
    font-family: Arial;
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.button-width
{
    width: 100% !important;
}
.lower-body-title
{
    text-align: center;
    font-family: Arial;
    font-weight: 700;
    font-style: normal;
    /* line-height: 4rem; */
    color: black;
    font-size: 2.1rem;
    margin-top: 1.8rem;
}
.back-img1
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/Rectangle1.png');
    background-size: cover;
    height: 60vh;
}
.back-img2
{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/image 23.png');
    background-size: cover;
    height: 60vh;
}
.back-img3
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/bending by window.png');
    background-size: cover;
    height: 60vh;
}
.back-img4
{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/vague woman.png');
    background-size: cover;
    height: 60vh;
    
}
.upper-body
{
    height: 120vh !important;
    background: rgba(35, 31, 32, 0.5) ;
}

.pg-logo
{
    position: absolute;
    width: 100vw;
    z-index: 100;

}
.image-text
{
    top: 0px;
    color: white ;
    text-align: center;
    width: 101vw;
    height: 118vh;
}
.body-card-title
{
    color:#003E7E;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    font-family: Arial;

}
.body-card-text
{
    color: black;
    font-weight: bold;
    font-style: normal;
}
.body-card-text2
{
    color: black;
    font-size: 0.6rem;
    padding-top: 4%;
    font-weight: bold;
    font-style: normal;
  
  
}
.body-card-footer
{
    color: black;
    padding-top: 2%;
    font-style: italic;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    
}

.w-60
{
    width: 60% !important;
}
.w-40
{
    width: 40% !important;
}
.w-30
{
    width: 30% !important;
}

.main-card
{
    border-radius: 2% !important;
    opacity: 0.9;
}

 
@media only screen and (max-width:768px){
    .main-card
    {
        background-color: transparent !important;
        border: 0px;
    }
    .text-whites
    {
        color:white !important;
        border-radius: 50% !important; 
    }
    .sm-items
    {
        /* font-style: normal !important; */
        font-weight: normal !important;
    }
    .footer-start-buttton
    {
        width: 50% !important;
    }
    .recommedation-text
    {
        font-size: 1rem !important;
        font-weight: bold !important;
    }
    .lower-body-title
    {
        font-size: 1.5rem;
    }
    .main-card
    {
        height: 55vh !important;
        width: 100vw !important;
    }
    .list-points
    {
        font-size: 0.9rem !important;
    }
    .back-img1
    {
        height: 35vh !important;
    }
    .back-img4
    {
        height: 35vh !important;
    }
    .upper-body
    {
        height: 70vh !important;
        
    }
    .image-text
    {
        height: 55vh !important;
        width: 100vw !important;
        top: 8vh !important;
    }
    .bullets
    {
        font-size: 1rem !important;
        padding-top: 0px !important;
    }
    .start-button
    {
        height: 2.8rem !important;
        width: 75% !important;
    }
    .body-card-footer
    {
        font-size: 0.95rem !important;
        width: 75% !important;
    }
    .nav-header-style
    {
        font-size: 1.2rem !important;
    }
    .headerLogo
    {
        height: 4rem;
        width: 4rem ;
    }
}
.accordion-button::after
{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'> <path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/> </svg>");
}
.accordion-button:not(.collapsed)::after
{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'> <path d= 'M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/> </svg>");

}
.accordion-button:not(.collapsed)
{
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}
.accordion-text
{
    font-weight: 700;
    font-style: normal;
    font-family: Arial;
    color: black;
    font-size: large;
}
.accordion-button:focus
{
    border:0px !important;
    box-shadow: none !important;
}
.accordion-item
{
    border:0px !important;
}
.accordion-button
{
    padding:0.8rem 1.25rem !important;
    align-items: center;
}
