
/* ******************************************** */
@font-face {
    font-family: ArialRoundMT;
    src: url('arlrdbd.ttf');
    font-weight:bolder !important;
}
@media only screen and (min-width:1024px)
{
    .custom-navbar1
    {
        height: 5.5rem !important;
    }

    .custom-nav-height1
    {
        top: 0.5rem;
    }
}

@media only screen and (max-width : 1024px)
{
    .header-title
    {
        font-family: ArialRoundMT !important;
        font-weight:bolder !important;

    }
}
.nav-shadow
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-title
{
    color:#003E7E;
    font-family: ArialRoundMT !important;
    font-weight: bolder !important;
}
.header-lists
{
    color: #003E7E !important;
    font-family: ArialRoundMT !important;
    font-weight: bold!important;
}
.custom-center-logo
{
    left: 40% ;
}