
/* ******************************************** */
@media only screen and (min-width:1024px)
{
    .custom-navbar1
    {
        height: 5.5rem !important;
    }

    .custom-nav-height1
    {
        top: 0.5rem;
    }
}
.nav-shadow
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-title
{
    color:#003E7E;
    font-family: Arial Rounded MT;
    font-weight: 1000;
}
.header-lists
{
    color: #003E7E !important;
    font-family: Arial !important;
    font-weight: 700;
}
.custom-center-logo
{
    left: 40% ;
}