

/* ******************************************** */

.nav-shadow
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-title
{
    color:#003E7E;
    font-family: Arial Rounded MT;
    font-weight: 1000;
}
.header-lists
{
    color: #003E7E !important;
    font-family: Arial !important;
    font-weight: 700;
}
