* {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 4px !important;
}

.buttonContainer {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  justify-content: center;
  justify-items: center; */

  max-width: 60vw;
      display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.stickyContainer{
  position: sticky;
  bottom:0;
  /* background-image: linear-gradient(to top, rgb(255,255,255), rgba(255, 255, 255,0)); */
  width:100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px !important;
}
.nextBackBtnContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;  
}

  .nextButton {
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  background: #003E7D;
  width: 240px;
  height: 53px;
  color: white;
  margin:1em;
}
.nextButtonDisable {
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  /* background: #f2f2f2; */
  width: 240px;
  height: 53px;
  background-color: #d1d3d4;
  color: #ffffff;
  margin:1em;
}
.backButton {
  box-sizing: border-box;
  border-radius: 26px;
  color: #003E7D;
  cursor: pointer;
  line-height: 21.47px;
  font-weight: 400;
  width: 240px;
  height: 53px;
  margin:1em;
  background-color: #ffffff;
  border: solid 1px #003E7D;
}
.iPopUp
{
  background-color: #003E7D !important;
  color: white;
  border: 0 !important;
  border-radius: 10px;
  font-size: small;
}
.modal-header
{
  border-bottom: 0 !important;
}
/* IE and EDGE */
.progress {
  /* RESETS */
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none; */

  width: 50%;
  height: 10px;
  /* border: 1px solid transparent !important; */
  border-radius: 25px !important;
  background-color: #00AAE7 !important;
  color: #003E7E !important;
  transition: width 0.5s;
}
.progress-bar
{
  background-color: #003E7E !important;

}
.prog1
{
  background-color:transparent !important;
  /* color: transparent!important; */
}
/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
.progress::-webkit-progress-bar {
  background-color: #00AAE7;
  transition: width 0.5s;
  /* border-radius: 25px; */

}

.progress::-webkit-progress-value {
  background-color: #003E7E !important;
  transition: width 0.5s;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
  background-color: #003E7E;
  transition: width 0.5s;
}
.contactButton {
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
  outline: none;
  background: #003E7D;
  width: 240px;
  height: 53px;
  color: white;
}
.contactButton:hover{
    color: #01a0e0;
}
.modalBody {
  font-size: 18px;
  line-height: 149.2%;
  text-align: center;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  background-color: #ffffff;
}
.modal-header {
  border-bottom: 1px solid #fffdfd;
  background-color: #ffffff;
}
.modalContent{
  border-radius: 0 !important;
}

.modal-footer {
  border-top: 1px solid #fffdfd;
  background-color: #ffffff;
}
.subQuestionText{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  }
  
  .buttonContainerTypeCleaner {
    float: none;
    display: block;
    width:100%;
  }
  .containerTypeCleaner {
    margin-top: 4px;
    padding: 0px 18px 1px 18px;
  }
  .imgQuestionIcon {
    width: 50px;
    height: 50px;
  }
  .imgBackground {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(to left, rgba(2255,255,255, 0), rgba(255,255,255, 1) 75%), linear-gradient(to bottom, rgba(2255,255,255, 0) 25%, rgba(255,255,255, 1)), url("");
  }

@media screen and (max-width: 600px) {

  .buttonContainer {
    float: none;
    display: block;
    padding:.5em;
    max-width: 100vw;
  }
  .container {
    margin-top: 4px;
  }
  .nextFooter{
    position: sticky;
    bottom:0;
    background-color:rgb(250 250 250 / .50);
    width:100%;
  }

  .backButton {
    color: #003E7D;
    cursor: pointer;
    line-height: 21.47px;
    font-weight: 400;
    font-size: 12px;
    width: 140px;
    height: 53px;
    border: solid 1px #003E7D;
  }

  .nextBackBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .nextButton {
      box-sizing: border-box;
      border-radius: 26px;
      cursor: pointer;
      outline: none;
      margin-bottom: 20px;
      background: #003E7D;
      width: 140px;
      height: 53px;
      color: white;
      margin:1em;
      font-size: 12px;
    }
    .nextButtonDisable {
      box-sizing: border-box;
      border-radius: 26px;
      cursor: pointer;
      outline: none;
      margin-bottom: 20px;
      background: #d1d3d4;
      width: 140px;
      height: 53px;
      color: #ffffff;
      margin:1em;
      font-size: 12px;
  }

  .stickyContainer{
    position: sticky;
    bottom:0;
    background-image: linear-gradient(to top, rgb(255,255,255), rgba(255, 255, 255,0));
    width:100vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px !important;
  }

  .imgBackground{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
  }

}

.customContainer{
  background-color:rgb(250 250 250 / .50);
}

/*==================*/
/* POP
/*==================*/

@-webkit-keyframes pop-on-hover {
  50% {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
  }
  @keyframes pop-on-hover {
  50% {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
  }
  .pop-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .pop-on-hover:hover, .pop-on-hover:focus, .pop-on-hover:active {
  -webkit-animation-name: pop-on-hover;
  animation-name: pop-on-hover;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  }

