.productSubTitle {
 font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
text-align: left;
color: #003E7D;
} 

.productSize {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: right;
}

.productDescription {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.productRecommend {
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
color: #003E7D;
}

.buyButton {
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  background: #003E7D;
  width: 100px;
  height: 40px;
  color: white;
  border: none;
}
.productRecommImage {
  height: 150px;
  object-fit: contain;
}
.buttonView {
  color: #9a9a9a;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  line-height: 21.47px;
  font-weight: 400;
  border: none;
  padding: 0px;
}
.productRecommImages {
  cursor: pointer;
  height: 150px;
}
.selectProducts {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  text-align: center !important;
}

.productData {
  
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #003E7D;
  width:75%;
    white-space: pre-wrap;
    margin: auto;
    margin-bottom: 20px;
}
.productView {

  background: linear-gradient(180deg,hsla(0,0%,98%,0),rgb(250 250 250 / 0.8) 15%);
  border-radius: 2px;
  line-height: 17px;
  margin: 4px;
}
.cardViewRecomm {
  background: #ffffff;
  border-radius: 0 !important;
  border: 0px !important;
}
.moreRecommText{
  color: #003E7D;
  font-size: 25px;
  line-height: 28px;
}
.carouselView{
  display: none;
}
.allProductsCard {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 !important;
}

@media screen and (max-width: 600px) {

  .productData {
    width:100%;
    white-space: pre-wrap;
    margin: auto;
    font-weight: 800;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #003E7D;
  }

  .carouselView{
    display: block;
  }
  .nonCarouselView{
    display: none;
  }
  .productRecommImages {
    cursor: pointer;
    margin-right: .5em;
    margin-left:.5em;
  }
  /* .productData {
    width: 100% !important;
  } */
  .moreRecommText{
    font-size: 20px;
    text-align: center;
    color: #003E7D;
}
  .yellowAccent{
    width: 5em;
    height:8px;
    background-color: #FED103;
  }



  
  .productSubTitle {
  font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #003E7D;
  } 
  .sizeData{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #333333;
  }
  
  .productSize {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
  }
  .productDescription {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #333333;
  }

  .scrollContainer{
    width: 90%;  
  }

  .scrollTags{
    display: flex;
    flex-wrap:wrap;
  }

  .selectProducts {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    text-align: center !important;
  }

  .noResultDesc{
    text-align: center;
    margin-bottom: 4em;
    margin-top: 1em;
  }

}

.cardViewRecomm {
  background: #ffffff;
  border-radius: 0 !important;
  border: 0px !important;
  align-items: center;
}

.prod-primary-area{
  background: rgba(254, 209, 3, 0.1);
  font-size: 12px;
  }
.prod-tensions{
    background: rgba(239, 65, 41, 0.1);
    font-size: 12px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #262323;
}

.carousel-indicators li {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: gray;

}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 600px) and (max-width: 600px) {
  .prodImageDiv{
    width: 100%;
  }
  .prodDescriptionDiv{
    width: 100%;
  }
  .prodDiv{
    width: 100% !important;
  }
  .prodHeaderDiv{
    width: 85%;
  }
  .productTitle, .sdsText {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #333333;
  }
  
  .productSubTitle {
  font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #003E7D;
  } 
  .sizeData{
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #333333;
  }
  
  .productSize {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
  }
  .productDescription {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;
    color: #333333;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .prodImageDiv{
    width: 100%;
  }
  .prodDescriptionDiv{
    width: 100%;
  }
  .prodDiv{
    width: 100% !important;
  }
  .prodHeaderDiv{
    width: 85%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .prodImageDiv{
    width: 20%;
  }
  .prodDescriptionDiv{
    width: 80%;
  }
  .prodDiv{
    width: 50% !important;
  }
  .prodHeaderDiv{
    width: 58%;
  }
  .grow-on-hover { 
    transition: all .2s ease-in-out;;
  }
  
  .grow-on-hover:hover { 
    transform: scale(1.1);
    padding: 0px 20px 0px 20px;
  }
  
}

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .prodImageDiv{
    width: 20%;
  }
  .prodDescriptionDiv{
    width: 80%;
  }
  .prodDiv{
    width: 50% !important;
  }
  .prodHeaderDiv{
    width: 58%;
  }
}

.scrollItems{
  overflow:scroll;
  white-space: nowrap;
  display: flex;
  overflow-y: hidden;
  padding-top:1em;
  scroll-behavior: smooth;
}

.scrollContainer{
  width: 65%;
  margin:auto;
  display: flex;
  align-items: center ;
  justify-content: center;
}

.buttonContainerLeft{
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  width:70px;
  height:200px;
  margin-right: -15px;
    z-index: 1000;
    height: 200px;
    display: flex;
    align-items: center;
}

.buttonContainerRight{
  background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0)100%);
  width:70px;
  height:200px;
  margin-left: -15px;
    z-index: 1000;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.scrollItems::-webkit-scrollbar {
  height: 5px;               /* height of the scrollbar */
}

/* .scrollTags::-webkit-scrollbar-track {
        /* color of the tracking area
} */

.scrollItems::-webkit-scrollbar-thumb {
  background-color: #FED103;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.yellowAccent{
  width: 5em;
  height:8px;
  background-color: #FED103;
  margin:auto;
}

.noResults{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.noResultTitle{
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  font-size: 20px;
}
/* .headerChips{
  display: none;
}

.grow-on-hover:hover + .headerChips{
  display: contents;
  z-index: 4000;
} */

/* .image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
} */


