
.card1
{
    border: 0px solid black !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* height: 20rem; */
    height: 100%;
}

.yellowLine
{
    border-bottom: 3px solid #FED103;
}
.cardBody1
{
    margin-left: 2rem;
}
.card-lists
{
    margin-top: 1rem;
    margin-left: -2rem;
    margin-right: 1.6rem;
    text-align: left;
}
.card2
{
    border: 0px solid black !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
}
.cardTitle1
{
    color: #003E7E;
    font-weight: bolder !important;
    font-size: 1.7rem;
    /* letter-spacing: 0.8px; */
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.cardTitle2
{
    color:black;
    font-weight: bold;
    font-size: 1.27rem;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 1.5rem;
}
.cardText2
{
    margin-top: -0.8rem;
}
.card1Lists
{
    font-size: 0.95rem;
    font-weight: bold;
}
.card2subText
{
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: -4px;
}

.productCards
{
    border: 1.1px solid rgb(212, 208, 208) !important;
    width: 12.4rem;
    height: 15.5rem;
    border-radius:5px;
}
.prod-recomm-area
{
    font-style: normal;
    font-weight: 500;
    font-size: 0.6rem !important;
    line-height: 14px;
    /* identical to box height */
    text-align: center;
    color: #333333;
}
.prodCardHead
{
    background-color: transparent;
    border: 0;   
}
.productData
{
    color: black;
    font-size: 0.8rem;
    font-weight: bolder;
    margin-top: 0.5rem;
    text-align: center;   
}
.prodImage
{
    height: 7rem;
    width: auto;
    margin-top: -2.3rem;
}
.prod-primary-area
{
    background: rgba(254, 209, 3, 0.1);
    font-size: 12px;
    width: 45%;
}
  
.lowerEmailText
{
    font-style: italic !important;
}

.lowerEmailBox
{
    border: 1px solid black !important;
}
.emailIcon
{
    width: 50px;
    height: 50px;
}


@media only screen and (max-width:1024px) and (min-width:769px)
{
    .card1Lists
    {
        font-size: 0.7rem;
        line-height: 1px important;
    }
    
    .cardTitle2
    {
        font-size: 0.9rem;
    }
    .cardText2
    {
        margin-top: -0.8rem ;
    }
    .productCards
    {
        width: 12.5rem;
        height: 15.7rem;
    }
    .prod-recomm-area
    {
        font-style: normal;
        font-weight: 500;
        font-size: 0.6rem !important;
        line-height: 14px;
        /* identical to box height */
        text-align: center;
        color: #333333;
    }
    .prod-primary-area
    {
        background: rgba(254, 209, 3, 0.1);
        font-size: 12px;
        width: 45%;
    }
      
}
@media only screen and (max-width:769px) and (min-width:426px)
{
        
    .card1 ,.card2{
        /* border:1px solid black!important; */
        box-shadow: none !important;
        width:100% !important
    }
   
    .card1
    {
        border-radius: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 18rem;
    }
    .card2
    {

        border-radius: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: auto;
        width: auto;
    }
    .cardTitle1
    {
        font-size: 1.5rem;
        text-align: center;
        margin-top: -2rem;
        margin-bottom: 2rem;
    } 
    .card1Lists
    {
        /* margin-top: -1rem; */
        font-size: 0.9rem;
        line-height: 1px important;

    }
    .card1line
    {
        color: black !important;
        height: 1px !important;
        opacity: 100%;
    }

    .cardTitle2
    {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    /* upper carousel */
    .productCards
    {
        border: 1px solid rgb(212, 208, 208) !important;
        width: 18.7rem;
        height: 21rem;
    
    }
    .prod-primary-area
    {
        background: rgba(254, 209, 3, 0.1);
        font-size: 2rem ;
        width: 50%;
    }
      
    .prod-recomm-area
    {
        font-style: normal;
        font-weight: 400;
        font-size: 0.8rem !important;
        line-height: 16px;
        padding-top: 3px;
        padding-bottom: 3px;
        /* identical to box height */
        text-align: center;
        color: #333333;
    }    
    
    .productData
    {
        color: black;
        font-size: 1rem;
        font-weight: bold;
        margin-top: 0.5rem;
        text-align: center;
        width: 16rem;   
    }
    .prodImage
    {
        height: 10rem;
        width: auto;
        margin-top: -2.5rem;
    }  
    /* end of upper 
    carousel */
}

@media only screen and (max-width:426px)
{
    .card1 ,.card2{
        /* border:1px solid black !important; */
        box-shadow: none !important;
    }
    
    .cardBody1
    {
        margin-left: 0.2rem !important;
        height: auto;
    }

    .card-text
    {
        padding-left: -2rem;
    }
    .cardTitle1
    {
        font-size: 1.7rem;
        text-align: center;
        margin-top: -1rem;
        margin-bottom: 1rem !important;
    } 
    .card1Lists
    {
        font-size: 0.8rem;
        font-weight: bold !important;
    }
    .card1line
    {
        color: black !important;
        height: 1px !important;
        margin-top: -1rem;
        opacity: 90%;
    }
    .cardTitle2
    {
        font-size: 1.2rem;
        text-align: center;
        /* margin-top: 1rem; */
        margin-bottom: 1rem;
    }
    /* upper carousel */
    .productCards
    {
        border: 0px solid rgb(212, 208, 208) !important;
        width: 9.7rem;
        height: 17rem;
    }
    .prod-recomm-area
    {   
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: 500;
        font-size: 0.7rem !important;
        width: 50%;
    }

    .productData
    {
        font-size: 0.7rem;
        width: 8.8rem;
        font-weight: bold;
        margin-top: 0.2rem;
        margin-left: -1.5rem;
    }
    .prodImage
    {
        height: 6rem;
        width: auto;
        margin-top: -3rem;
    } 
     /*end of upper carousel */
    
}

@media only screen and (max-width:376px)
{
    .card1 ,.card2{
        /* border:0 !important; */
        /* border:1px solid black !important; */

        box-shadow: none !important;
    }
    
    .cardBody1
    {
        margin-left: 0;
    }
    .card1{
        height: auto;
    }
    .card2{
        width: auto;
        height: auto;
    }
    .card-lists
    {
        margin-top: 0.5rem;
        margin-left: -0.2rem;
    }
    .card-text
    {
        margin-left: -1rem;
    }
    .cardTitle1
    {
        font-size: 1.3rem;
        text-align: center;
        margin-top: -2rem;
        margin-bottom: 1rem !important;
    } 
    .card1Lists
    {
        font-size: 0.7rem;
        font-weight: bolder;
    }
    .card1line
    {
        color: black !important;
        height: 1px !important;
        margin-top: -1rem;
        opacity: 90%;
    }

    .cardTitle2
    {
        font-size: 1rem;
        text-align: center;
        /* margin-top: 1rem; */
        /* margin-bottom: 2rem; */
    }
    .recommTitle
    {
        font-size: 1.3rem;
        margin-top: -0.5rem;
    }
    /* upper carousel */
    .productCards
    {
        border: 0px solid rgb(212, 208, 208) !important;
        width: 8rem;
        height: 18rem;
    }
    .prod-recomm-area
    {
        font-weight: 400;
        font-size: 0.6rem;
        padding-left: 1px;
        padding-right: 1px;  
        width: 40%;      
    }
    .productData
    {
        color: black;
        font-size: 0.6rem;
        font-weight: bolder;
        margin-top: 0rem;
        text-align: center; 
        line-height: 10px !important;  
        width: 7.2rem;
    }
    .prodImage
    {
        height: 6rem;
        width: auto;
        margin-top: -3rem;
    }
    /* end of upper carousel */
}

@media only screen and (max-width:321px)
{
    .card1 ,.card2{
        /* border:1px solid black !important; */
        box-shadow: none !important;
        
    }
    .card1{
        height: auto;
    }   
    .card2{
        height: auto
    }
    .cardBody1
    {
        margin-left: 0;
        height: auto;
    }
    .card-lists
    {
        margin-top: 0.5rem;
    }
    .spanlists
    {
        text-align: justify;
    }
    .card-text
    {
        margin-left: -0.9rem;
    }
    .cardTitle1
    {
        font-size: 1.3rem;
        text-align: center;
        margin-top: -2rem;
        margin-bottom: 1rem !important;
    } 
    .card1Lists
    {
        font-size: 0.8rem;
        font-weight: bolder;
    }
    .card1line
    {
        color: black !important;
        height: 1px !important;
        /* margin-top: -6rem; */
        margin-bottom: 4rem !important;
        opacity: 90%;
    }
    /* .card2line
    {
        color: black !important;
        height: 3px !important;
        margin-top: -6rem;
    } */

    .cardTitle2
    {
        font-size: 0.8rem;
        text-align: center;
        margin-top: -4.5rem;
        margin-bottom: 2rem;
    }
    .recommTitle
    {
        font-size: 1rem;
    }
    /* upper carousel */
    .productCards
    {
        border: 0px solid rgb(212, 208, 208) !important;
        width: 14rem;
        height: 21rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .prod-recomm-area
    {
        font-weight: 400;
        font-size: 1rem;
        padding-top: 3px;
        padding-right: 5px;
        padding-left: 5px;  
        width: 60%;      
    }
    .productData
    {
        font-size: 0.8rem;
        line-height: 1rem !important;  
        width: 13rem;
    }
    .prodImage
    {
        height: 8rem;
        width: auto;
        margin-top: -3rem;
    }
    /* end of upper carousel */
    
}